{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap-5.2.2.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome-all-6.2.0.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    
</head>

<body>

    {% block content %}
    {% endblock %}


    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-5.2.2.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>