{% extends 'base.html'%}

{% block title %} Lista de tarefas {% endblock %}

{% block content %}

<div>
    <table class="table table-hover table-sm list-news">
        <thead>
            <tr>
                <th scope="col"><p>Título</p></th>
                <th scope="col"><p style="text-align: center;">Total de Comentários</p></th>
            </tr>
        </thead>

        <tbody>

            {% for news in list_news %}
                <tr>

                    <td><a href="detailed/{{news.id}}">{{news.title}}</a></td>
                    <td><p style="text-align: center;">{{news.count}}</p></td>
                    
                </tr>
            {% endfor %}

        </tbody>

    </table>

</div>



{% endblock %}