{% extends 'base.html'%}

{% block title %} Lista de tarefas {% endblock %}

{% block content %}

<div>

    <input id="id-noticia" style="display: none;" value="{{ news.id }}">

    <h1>{{news.title}}</h1>

    <div>{{news.description}}</div>

    <hr/>

    <form id="form-comment" onsubmit="return false">
        {% csrf_token %}
        <label for="name">First Name:</label>
        <input type="text" id="name" name="name" placeholder="Your Name" required><br/>
        
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Your Email" required><br/>
        
        <label for="comment">Comment:</label><br/>
        <textarea id="comment" name="comment" placeholder="Your Comment" rows="5" cols="80" required></textarea><br/>
        

        <input type="submit" value="Submit" id="btn-insert">
        

    </form>

   
    <hr/>

    <ul id="list-comments">
        
        {% for comment in list_comments %}
            <li class="li-comment">{{comment.name}} {{comment.created_at}} - {{comment.comment}}</li>

        {% endfor %}
    </ul>

    <button id="btn-loadComments">Mostrar mais comentários</button>


</div>



{% endblock %}